@use "../settings/variables" as v;

.footer {
  width: 100%;
  padding: 15px 0; 
  border-top: 1px solid rgba(255, 255, 255, 0.05); 
  background-color: v.$bg-dark;
  margin-top: auto; 
  display: flex;
  justify-content: center;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    /* BLOC LOGO (C.) */
    .footer-logo {
      font-weight: bold;
      font-size: 1.2rem;
      color: v.$text-main;
      span { color: v.$primary; } 
    }

    /* BLOC ICÔNES */
    .footer-socials {
      display: flex;
      gap: 20px;
      
      a {
        color: v.$primary; 
        font-size: 1.1rem;
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
          color: v.$primary-light;
          transform: translateY(-3px);
        }
      }
    }

    /* BLOC COPYRIGHT */
    .footer-copy {
      p {
        color: v.$text-muted;
        font-size: 0.85rem; 
        margin: 0;
        opacity: 0.8;
      }
    }
  }
}

/* Version Mobile */
@media (max-width: v.$tablet) {
  .footer {
    .footer-content {
      flex-direction: column;
      gap: 15px;
      text-align: center;
    }
  }
}