@use"../settings/variables" as v;
// Hero Section
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 85vh;
  position: relative;

  // Partie gauche : Texte
  .hero-left {
    /* flex: 1; */
    text-align: left;
    padding-top: 100px;
    z-index: 2;
    margin: 80px;

    .badge-tech {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(v.$primary, 0.3);
      padding: 8px 16px;
      border-radius: 50px;
      font-size: 0.8rem;
      color: v.$primary-light;
      margin-bottom: 25px;
    }

    h1 {
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.1;
      margin-bottom: 30px;
      font-family: v.$font-main;
      .accent {
        color: v.$primary; 
      }
    }

    .description {
      font-size: 1.1rem;
      color: v.$text-muted;
      max-width: 500px;
      margin-bottom: 40px;
    }

    .hero-buttons {
      display: flex;
      gap: 20px;
      
      .btn-primary {
        background: v.$primary;
        color: white;
        padding: 15px 30px;
        border-radius: 12px;
        text-decoration: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: 0.3s;
        &:hover { transform: translateY(-3px); box-shadow: 0 10px 20px rgba(v.$primary, 0.3); }
      }

      .btn-outline {
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
        padding: 15px 30px;
        border-radius: 12px;
        text-decoration: none;
        transition: 0.3s;
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover { background: rgba(255, 255, 255, 0.05); }
      }
    }
  }

  // Partie droite : Image 
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    z-index: 2;

    .image-wrapper {
      position: relative;
      width: 280px;
      height: 280px;
      border-radius: 50%;
      padding: 10px;
      border: 2px solid rgba(v.$primary, 0.5);
      
      // L'effet de halo lumineux (le glow bleu)
      box-shadow: 0 0 60px rgba(v.$primary, 0.4);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        filter: grayscale(20%); 
      }
    }
     // Petite flèche en bas
  .scroll-indicator {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: v.$text-muted;
    animation: bounce 2s infinite;
    z-index: 10;
    cursor: default;
  }
}}