// 1. Les variables (Toujours en premier car les autres en ont besoin)
@use"./settings/variables" as v;

// 2. La base (Reset et réglages globaux)
@use "./base/typography";

// 3. Les composants (Le look de chaque partie)
@use "./components/navbar";
@use "./components/hero";
@use "./components/projects";
@use "./components/contact";
@use "./components/about";
@use "./components/expertise";
@use "./components/footer";
@use "./components/scroller-top";


// 1. BASE (On s'assure que le fond est noir)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$bg-dark;
  color: v.$text-main;
  font-family: v.$font-main;
  overflow-x: hidden;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  line-height: 1.6;
}


// Mise en page globale
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}


// Adaptabilité Mobile
@media (max-width: 768px) {
  .contact .contact-form .form-row {
    grid-template-columns: 1fr; // On passe sur une seule colonne sur téléphone
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0) translateX(-50%);}
  40% {transform: translateY(-10px) translateX(-50%);}
  60% {transform: translateY(-5px) translateX(-50%);}
}

// Responsive : sur mobile, on empile les colonnes
@media (max-width: 992px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 50px;
    .hero-content .description { 
      margin: 0 auto 40px; 
    }
    .hero-buttons { 
      justify-content: center; 
    }
    .hero-image .image-wrapper { 
      width: 300px; 
      height: 300px; 
      margin: 0 auto;
    }
    h1 { 
      font-size: 3rem; 
    }
  }
}