@use"../settings/variables" as v;

.section-title {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin-bottom: 2.5rem;
    line-height: 1.2;

    .accent {
        background: linear-gradient(135deg, v.$primary 30%, lighten(v.$primary, 20%));
        background-clip: text;
        -webkit-background-clip: text; /* Pour Safari */
        -webkit-text-fill-color: transparent;
        display: inline-block; /* Recommandé pour les dégradés de texte */
    }
}

/* Version responsive pour mobile */
@media (max-width: 768px) {
    .section-title {
        font-size: 2.2rem;
    }
}

.page-container {
    padding-top: 120px;  
    min-height: 80vh;    
    width: 100%;
    max-width: 1200px;   
    margin: 0 auto;      
    padding-left: 20px;
    padding-right: 20px;
}

.page-title {
    font-size: 2.5rem;
    margin-bottom: v.$space-m;
    text-align: center;
    font-family: v.$font-logo;
    
    .accent { color: v.$primary; }
}

body {
  font-family: v.$font-main;
  font-size: v.$font-size-sm;
  line-height: 1.6; 
  color: v.$text-main;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: v.$space-s;
}

// Style pour les liens de la navbar par exemple
a {
  text-decoration: none;
  font-weight: 500;
  transition: v.$transition;
}

// Paragraphes
p {
  margin-bottom: v.$space-s;
  color: v.$text-muted;
}