@use"../settings/variables" as v;

.page-container {
    padding-top: 120px;  
    min-height: 80vh;    
    width: 100%;
    max-width: 1200px;   
    margin: 0 auto;      
    padding-left: 20px;
    padding-right: 20px;
}

.page-title {
    font-size: 2.5rem;
    margin-bottom: v.$space-m;
    text-align: center;
    font-family: v.$font-logo;
    
    .accent { color: v.$primary; }
}

body {
  font-family: v.$font-main;
  font-size: v.$font-size-sm;
  line-height: 1.6; 
  color: v.$text-main;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: v.$space-s;
}

// Style pour les liens de la navbar par exemple
a {
  text-decoration: none;
  font-weight: 500;
  transition: v.$transition;
}

// Paragraphes
p {
  margin-bottom: v.$space-s;
  color: v.$text-muted;
}